* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* TEXT */
h1 {
  font-size:5rem;
  text-shadow:0px 3px 5px rgba(49, 7, 49, 0.596);
}

/* COMPONENTS */

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  height: 100%;

  background-image:linear-gradient(white, rgb(176, 252, 180));
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:100%;
  width:100%;
}

header {
  background-image:url(images/4x/bg.png);
  background-size: 350px;
  background-repeat: no-repeat;

  width: 350px;
  padding: 50px;

  color:white;
  text-align:center;
}

.play-button{
  padding:7px 20px;
  
  background-color:transparent;
  border-radius:10px;
  border: 3px #6E1D3F solid;
  font-family: 'Jost', sans-serif;
  color:#6E1D3F;
  font-weight:bold;
  font-size:1rem;
  cursor:pointer;
}

.play-button:hover {
  background-color:#8FD7EF;
  border: 3px #8FD7EF solid;
  color:white;
  transition-duration:0.3s;
}

.level-selector-container {
  width:400px;
  margin:auto;
  display: none;
}

.level-choices {
  display:flex;
  justify-content:space-evenly;
  padding:15px;
  margin-top:-10px;
}

.selector-text {
  background-color:#6E1D3F;
  padding:10px;
  border: 2px rgb(255, 255, 255) solid;
  outline:6px #6E1D3F solid;
  color:white;
  margin: 20px 40px 10px 40px;
}

.easy-mode, .medium-mode, .hard-mode {
  padding:10px;
  width:30%;

  justify-content:center;
}

.level-button {
  cursor:pointer;
  background-color:red;
  position:relative;
}

.level-button img {
  width:90px;
  height:90px;
  position:absolute;
  left:0;
  padding-left:5px;
}

.level-button img.main-level-button:hover {
  opacity:0;
  cursor:pointer;
}

.level-button img.only-hover {
  width:88px;
  height:88px;
  padding:1px 1px 1px 6px;
}

.best-easy-time, .best-medium-time, .best-hard-time {
  line-height:3px;
  margin-top:110px;
}