@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Jost&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Jost', sans-serif;
}

/* TEXT */
h1 {
  font-size: min(110px, 25vw);
  text-shadow:0px 3px 5px rgba(49, 7, 49, 0.596);
  font-family: 'Inspiration', cursive;
}

/* COMPONENTS */

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  background-image:linear-gradient(white, rgb(176, 252, 180));
  background-attachment: fixed;

  height:100%;
  width:100%;
}

header {
  background-image:url(images/4x/bg.png);
  background-size:min(450px, 98%);
  background-repeat: no-repeat;

  width: min(450px, 98%);
  padding: 50px 0;

  color:white;
  text-align:center;
}

.above-title {
  margin-bottom: -20px;
  padding-left: 40px;
}

.play-button{
  padding:7px 20px;
  
  background-color:transparent;
  border-radius:10px;
  border: 3px #6E1D3F solid;
  font-family: 'Jost', sans-serif;
  color:#6E1D3F;
  font-weight:bold;
  font-size:1rem;
  cursor:pointer;
}

.play-button:hover {
  background-color:#8FD7EF;
  border: 3px #8FD7EF solid;
  color:white;
  transition-duration:0.3s;
}

.level-selector-container {
  width:400px;
  margin:auto;
  display: none;
}

.level-choices {
  display:flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.selector-text {
  background-color:#6E1D3F;
  padding:10px;
  border: 2px rgb(255, 255, 255) solid;
  outline:6px #6E1D3F solid;
  color:white;
  margin: 20px 40px 10px 40px;
  text-align: center;
}

.level-button {
  width: 90px;
  height: 90px;
  perspective: 500px;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  
  transition: transform 1000ms;
  transform-style: preserve-3d;
}

.card-container {
  width: 84px;
  height: 84px;
}

.level-button:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.best-easy-time, .best-medium-time, .best-hard-time {
  padding-top: 10px;
}

@media (min-width: 400px) {
  header {
    padding: 70px 70px 70px 50px;
  }
}

.grid {
  background-color:#6E1D3F;
  border: 3px rgb(255, 255, 255) solid;
  outline:6px #6E1D3F solid;
  border-radius:10px;

  display: none;
  gap: 10px;
  padding: 10px;
}